.box {
  width: 170px;
  max-width: 170px;
  box-sizing: border-box;
  height: 170px;
  display: flex;
  justify-content: center;
  border: 2px solid #f536d8;
  box-shadow: 0 0 5px #f536d8, 0 0 10px #f536d8, 0 0 10px #f536d8,
    0 0 10px #70015f, 0 0 10px #f536d8;
  transition: box-shadow 0.3s ease-in-out;
  margin: 0 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 20px;
}

.container {
  overflow: hidden;
  min-height: 680px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: center;
  padding: 20px 0 70px 0;
}
