/* IMAGES MIAN PAGE */

.hamster-kombat {
  background-image: url("/img/games/hamsterkombat.svg");
}

.memefi {
  background-image: url("/img/games/memefi.svg");
}

.blum {
  background-image: url("/img/games/blum.svg");
}

.pocketfi {
  background-image: url("/img/games/pocketfi.svg");
}

.tapswap {
  background-image: url("/img/games/tapswap.svg");
}

.cubes {
  background-image: url("/img/games/cubes.svg");
}

.notcoin {
  background-image: url("/img/games/notcoin.svg");
}

.gamee {
  background-image: url("/img/games/gamee.svg");
}

.anon {
  background-image: url("/img/games/anon.svg");
}

.catizen {
  background-image: url("/img/games/catizen.svg");
}

.clayton {
  background-image: url("/img/games/clayton.svg");
}

.fartybot {
  background-image: url("/img/games/fartybot.svg");
}

.pixeltap {
  background-image: url("/img/games/pixeltap.svg");
}

.punks {
  background-image: url("/img/games/punks.svg");
}

.sphynx {
  background-image: url("/img/games/sphynx.svg");
}

.iceberg {
  background-image: url("/img/games/iceberg.svg");
}

.fastmint {
  background-image: url("/img/games/fastmint.svg");
}

.hot {
  background-image: url("/img/games/hot.svg");
}


.okx {
  background-image: url("/img/exc/okx.svg");
}
.bybit {
  background-image: url("/img/exc/bybit.svg");
}
.kukoin {
  background-image: url("/img/exc/kukoin.svg");
}
.mexc {
  background-image: url("/img/exc/mexc.svg");
}
.binance {
  background-image: url("/img/exc/binance.svg");
}
.bingx {
  background-image: url("/img/exc/bingx.svg");
}
.bitget {
  background-image: url("img/exc/bitget.svg");
}
.coinbase {
  background-image: url("/img/exc/coinbase.svg");
}
.cryptocom {
  background-image: url("/img/exc/cryptocom.svg");
}
.gateio {
  background-image: url("/img/exc/gateio.svg");
}
.htx {
  background-image: url("/img/exc/htx.svg");
}
.kraken {
  background-image: url("/img/exc/kraken.svg");
}
.dogshouse {
  background-image: url("/img/games/dogs.svg");
}

.tabi {
  background-image: url("/img/games/tabi.svg");
}

.timefarm {
  background-image: url("/img/games/timefarm.svg");
}