body,
html {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url("img/fonlast.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
    background-image: url("/img/header/header.svg");
    background-position: 0%;
    overflow-x: auto;
    white-space: nowrap;
    border: 2px;
  }

  .header ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;
    width: 100%;
  }
  .header::-webkit-scrollbar {
    display: none;
    /* Скрыть ползунок в Chrome, Safari и Opera */
}
  .item {
    margin-inline-start: 10px;
    margin-top: 7px;
    display: inline-block;
    width: 100px;
    /* Ширина каждого элемента */
    height: 40px;
    /* Высота каждого элемента */
    background-color: #010043;
    margin-right: 10px;
    /* Отступ между элементами */
    box-sizing: border-box;
    /* Учитывает padding и border в ширину и высоту */
    border: 1px solid #769deb60;
    /* Цвет рамки */
    box-shadow:
      0 0 5px #769deb60,
      0 0 10px #769deb60,
      0 0 10px #769deb60,
      0 0 10px #769deb60,
      0 0 10px #769deb60;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    justify-content: center;
    /* Центрируем текст по горизонтали */
    align-items: center;
    /* Центрируем текст по вертикали */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    }


    .container {
      margin: 0px;
      overflow: hidden;
      padding-bottom: 0px;
      display: flex;
      justify-content: center; /* Горизонтальное выравнивание */
      align-items: center;     /* Вертикальное выравнивание */
      width: 360px;
      height: 400px;
      padding-top: -30px;
    }

    .gogogo{
      width: 100%;
      padding: 10px;
      margin: 10px;
      justify-content: center;
      overflow: hidden;
      padding-bottom: 0px;
      min-height: 100%;
        display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }

  .window {
    width:320px;
    position: static;
    height:500px;
    background-image: url("/img/opisaniefon.svg");
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание */
    align-items: center;
    padding-bottom: 0px;
    
  }
  .text{
    width: 300px;
    height: 400px;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 45px;
    padding: auto;
    align-items: center; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  

    display: inline-block;
    
    /* Высота содержимого */
    -ms-overflow-style: none;
    /* Скрыть ползунок в Internet Explorer и Edge */
    scrollbar-width: none;
    /* Скрыть ползунок в Firefox */
    overflow-y: scroll;
  
  
  }
  
  .text::-webkit-scrollbar {
    display: none;
    
    /* Скрыть ползунок в Chrome, Safari и Opera */
  }
  
  .scrollbar {
    display: none;
  }

  a.start {
    height: 72px;
    width: 210px;
    background-image: url("img/header/header.svg");
    background-size: cover; /* Чтобы изображение полностью заполнило блок */
    display: block;
  }