/* Обнуляем отступы и поля у body */
body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* Разрешаем перенос на новую строку */
  gap: 10px;
  width: 100%;
  /* Отступ между блоками */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url(/img/fon.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: white;
  font-family: Arial, sans-serif;
}

/*display: flex; в body позволяет использовать flexbox для центрирования содержимого по горизонтали и вертикали.
justify-content: center; и align-items: center; центрируют содержимое по горизонтали и вертикали внутри body.
flex-direction: column; указывает, что элементы будут располагаться вертикально, сверху вниз.
background-image: url(fon.png); устанавливает фоновое изображение для body.
background-size: cover; масштабирует фоновое изображение так, чтобы оно полностью покрывало содержимое body.
background-attachment: fixed; фиксирует фоновое изображение, чтобы оно не прокручивалось вместе с содержимым страницы.
color: white; устанавливает белый цвет текста.
font-family: Arial, sans-serif; задает шрифт для текста.*/

.container {
  margin: 10px;
  justify-content: center;
  overflow: hidden;
}

.box {
  width: 100%;
  max-width: 340px;
  box-sizing: border-box;
  height: 124px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 5px solid transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-image: linear-gradient(
    to bottom right,
    #2a00fe 0%,
    #2c90fc 25%,
    #56003fac 50%,
    #fec837 75%,
    #ee46a0 100%
  );
  border-image-slice: 1;
}

.hamster-kombat {
  background-image: url("img/hamster kombat.svg");
}

.memefi {
  background-image: url("img/memefi.svg");
}

.blum {
  background-image: url("img/blum.svg");
}

.pocketfi {
  background-image: url("img/pocketfi.svg");
}

.tapswap {
  background-image: url("img/tapswap.svg");
}

.cubes {
  background-image: url("img/cubes.svg");

}

.notcoin {
  background-image: url("img/notcoin.svg");
}

.gamee {
  background-image: url("img/gamee.svg");
}

.anon {
  background-image: url("img/anon fon 2.svg");
}

.catizen {
  background-image: url("img/catizen.svg");
}

.clayton {
  background-image: url("img/clayton.svg");
}

.fartybot {
  background-image: url("img/fartybot.svg");
}

.pixeltap {
  background-image: url("img/pixeltap.svg");
}

.punks {
  background-image: url("img/punks.svg");
}

.sphynx {
  background-image: url("img/sphynx.svg");
}